.container {
    display: flex;
    color: rgb(17, 17, 17);
    background: rgba(255, 255, 255, 0.9); /* Darken the background by adjusting the alpha (fourth) value */
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: 60%;
    max-height: 400px;
    padding: 5%;
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: 10px 5px rgb(0, 0, 0, 0.7);
    justify-content: space-between;
  }
.imgs{
    border-radius: 50%;
}
.info{
    text-align: left;
}
.image{
 
        width: 200px; /* width of container */
        height: 250px; /* height of container */
        object-fit: cover;
      
}
.formula1{
    max-height: 70px;
    max-width: auto;
    
}