.container {
    display: flex;
    position:absolute;
    top:18%;
    left:22%;
    color: rgb(17, 17, 17);
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width:600px;
    max-height: 400px;
    padding: 2% 5%;
    margin: 0px auto;
    box-shadow: 10px 5px rgb(0, 0, 0, 0.7);
    justify-content: space-between;
  }
.imgs{
    border-radius: 50%;
}
.info{
    text-align: left;
}
.image{
 
        width: 200px; 
        height: 250px; 
        object-fit: cover;
      
}
.formula1{
    max-height: 70px;
    max-width: auto;
    
}