.container {
  width: 300px;
  height: 180px; 
  display: flex;
  margin:1%;
  vertical-align: top;
  box-sizing: border-box; 
  text-align: center; 
  background: linear-gradient(to bottom right, #000000 10%, #5f5f5f 100%);
  border: 1px solid #000000; 
  border-radius: 5px; 
  color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: transform 0.3s ease-in-out;
  padding:5px; 
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.container:hover {
  background: linear-gradient(to bottom right, #b90808 10%, #660606 100%);
  transform: translateY(-10px);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
   
  .titulo {
    margin:0px auto;
    text-decoration: none;
    color:white 
  }

.imagebox{
  box-shadow: 2px 1px 2px rgba(0, 0, 0);
  width: 100px; 
  height: 100px; 
  object-fit: cover;
}
.teamInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  max-height: 200px;
  margin: 0;
  font-size: smaller;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
  .driverInfo{
    width: 100px;
    margin-top:20px
  }
 