.container {
    width: 202px;
    height:350px; /* Set the width of each card to 48% (2 cards per row with some margin) */
    margin: 1%; /* Create a small gap between cards */
    display: inline-block; /* Display cards in a row */
    vertical-align: top; /* Align cards to the top */
    box-sizing: border-box; /* Include padding and border in the total width/height */
    text-align: center; /* Center-align content */
    background-color: #3d3d3d; /* Background color for cards */ /* Add padding to the cards */
    border: 1px solid #000000; /* Add a border to the cards */
    border-radius: 5px; /* Add border-radius for rounded corners */
    color: white;
    box-shadow: 10px 5px rgb(0,0,0,0.70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  
  .titulo {
    text-decoration: none;
    color:white /* Remove underlines from links */
  }
  
  .p {
    color: white
  }
  .imagebox{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
  }