#root {
    max-width: 1280px;
    margin: 0 auto;
  }
.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.filters{
    margin:25px;
    display: flex;
    flex-direction: row;
}