  .container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  
}
.cards {
  min-height: 400px;
  min-width: 1220px;
  padding-left: 50px;
  padding-right: 50px; 
  margin-top:70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filters{
    margin-top:11px;
    display: flex;
    flex-direction: row;
    position:absolute;
    top:10px;
    right:15px;

}
.pagination{
  height:25px;
  color:white;
  right: auto;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
}
.navButton{
  background-color: darkred;
  color: white;
  padding: 0px 20px;
  margin: 0px 10px;
  cursor: pointer;
  text-decoration: none;
  max-height: 15px;;
}
.navButton:active{
  background-color: white;
  color:red;
}
h1{
  color: white;
  font-size: xx-large;
}
.navText{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}