#root {
    max-width: 1280px;
    margin: 0 auto;
  }

  .container{
    width:1200px;
    height: 95vh;
    background-color: rgb(58, 58, 66);
    display: flex;
    flex-direction: column;
  
}
.cards {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  
  background-color: rgb(27, 26, 26);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filters{
    margin-top:35px;
    display: flex;
    flex-direction: row;
}
.pagination{
  color:white;
  position: fixed;
  bottom:10px;
  left: 40%;
  right: auto;
  background-color:red;
}